$place__border: 1px solid $silver;
$place__padding: 30px;
$place__margin: 24px;

#place-details-container {
  
  #place-type {
    margin: 0;
  }
}

@include breakpoint(md){
  #place-type {
    font-size: 10pt;
  }
  #place-location {
    font-size: 10pt;
  }

  #place-name {
    font-size: 25pt;
  }
}



#place-attributes-container {

  ul {
    padding-left: 0;
    li {
      display: inline-block;
      list-style: none;
      margin-right: 20px;
      i {
        margin: 5px;
      }
    }
  }
}

#place-overview-additional {
  display: none;
}

#place-rules-container {
  margin: 0;
  padding: $place__padding 0;
  border-top: $place__border;
  border-bottom: $place__border;

  #place-rules {
    display: none;
  }
}

//Reviews Section

//The input events container
//On click of the input it changes the display to flex from none
#comment-events-container {
  display: none;
  justify-content: flex-end;
  border-top: 1px solid $silver;
}

#reviews {

  h3{
    padding: $place__padding 0;
    border-bottom: $place__border;
  }
  
 
  //Edit + Delete events for the comment
  .comment-operations {
    margin-bottom: 10px;
  }
  .review {
    padding: 10px 0;
    margin: 10px 0;
  } 
}

//Author Section
#place-author-container {
  border-bottom: $place__border;
  border-top: $place__border;
  padding: $place__padding 0;  
}

//Area Section
#area-container {
  padding: $place__padding 0;
  
  #map {
    height: 350px;
    width: 100%;
    margin-bottom: 40px;
  }
}

.edit-comment-container {
  width: 100%;
  @include flex(flex,column, none,none);
  margin-left: 15px;
}

.comment-date {
  margin-left: 10px;
}