/* The alert message box */
.alert {
    color: white;
    margin-bottom: 10px;
    @include flex(flex,row,space-between,center);
    padding: 0 10px;
    h4 {
        margin-bottom: 0;
    }
}

/* The close button */
.alert-close {
    font-size: 2rem;
}


@media(max-width: 900px){
    .alert {
        padding: 0 5px;
    }
}