.cover {
  width: 100%;
  height: 400px;
}

@include breakpoint(md) {
  .cover {
    height: 350px;
  }
}

.avatar {
  @include border-radius(100%);
}

@include breakpoint(sm) { 
  .medium {
    width: 50px;
    height: 50px;
  }
}

.large {
  width: 100px;
  height: 100px;
}

.medium {
  width: 75px;
  height: 75px;
}

.small {
  width: 50px;
  height: 50px;
}

.right {
  float: right;
}

.left {
  float: left;
}
