<header class="header">
  <div class="container">

    <div class="header-content">
      <!-- -Typography Class -->
      <h1 class="huge">
        Node JS Starter Kit
       </h1>

      <!-- -Typography Class -->
      <h2 class="bigger">
        Ground zero for your node js web applications
    </h2>

    </div> <!-- Closes Header Content-->
  </div> <!-- Closes Container -->
</header> <!-- Closes Header Class -->
