
.font-weight-bold {
    font-weight: 600 !important;
}

.font-weight-normal {
    font-weight: 300 !important;
}

.font-weight-light {
    font-weight: 200 !important;
}

.font-italic {
    font-style: italic !important;
}

.text-align-left {
    text-align: left !important;
}

.text-align-right {
    text-align: right !important;
}

.text-align-center {
    text-align: center !important;
}

.text-align-justify {
    text-align: justify !important;
}

.text-lowercase {
    text-transform: lowercase !important;
}

.text-uppercase {
    text-transform: uppercase !important;
}

.text-capitalize {
    text-transform: capitalize !important;
}
