//Main Navbar
.navbar-brand {
  i {
    margin-left: 2px;
    font-size: 30pt;
  }
}

#yelpbook__nav {
  ul {
    @include flex (inline-flex, row,null,nul);
    @include flex-wrap(inline-flex,wrap);
    li {
      margin: 10px;
      color: $silver
    }
  }
}


@include breakpoint(md) {
  #yelpbook__nav {
    ul {
     @include flex (flex, column,null,nul);
     li {
      margin: 0;
      padding: 10px 0;
        &:hover {
          border: none;
        }
      }
    }
  }
}
