//Place Navbar
.place-menu-container {
  padding: 12px;
  z-index: 1 !important;
  

  nav {

    ul {
      list-style: none;

      // @include flex-wrap

      @include flex(inline-flex, row,none,none);
      @include flex-wrap(inline-flex,wrap);

      .navbar-nav {
        padding-left: 0;
      }
    
      .place__navbar__item {
        margin-right: 15px;    
      }
    }
  }
}

.fa-arrow-alt-circle-left {
  transform: rotate(90deg);
  font-size: 20pt;
}

#place-nav {
  display: none;
}

//Applied after 450 points worth of scrolling occur
.isSticky {
  display: flex;
  position: fixed;
  top:0;
  right: 0;
  left: 0;
  background-color: white;
  z-index: 1;
  padding: 20px;
  border-bottom: 1px solid $silver;
}

@include breakpoint(sm) { 
  #place-nav {
    padding: 20px 25px;
    font-size: 13pt;
    .place__navbar__item {
      margin: 5px;
    }
  }
}

@media(max-width: 399px) {
  #place-nav {
    padding: 5px;
    .place__navbar__item {
      margin: 5px;
    }
  }
}

@media(max-width:380px){
#back-to-top{
  display: none;
}
}